[Unit]
Description=Daemon en Go
After=network.target

[Service]
ExecStart=/usr/local/bin/daemon_p2_201602929
Restart=always

[Install]
WantedBy=multi-user.target
